#bars {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 14px;
  width: 180px;
  margin: 0 0 0 0;
  transform:scale(3) translateX(-15%);
}

#gauge {
	position: absolute;
  top: 20%;
  left: 65%;
	width: 300px;
	margin: 100px auto;
}

#translation_background {
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 300px;
}

.bar {
  position: absolute;
  bottom: 0px;
  height: 3px;
  width: 1px;
  background: #18CAE6;
  animation: sound 0ms -900ms linear infinite alternate;
  transform: translateY(50%);
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #000000;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-family: monospace sans-serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
}

.box {
  background: #18CAE6;
  width: 50px;
  height: 50px;
  transition: width 0.2s, height 0.2s;
  will-change: width, height;
}
.box.is-opening {
  width: 600px;
  height: 400px;
}
.button {
  display: flex;
  will-change: content;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #18CAE6;
  border: 0;
  font-size: 30px;
  color: #fff;
  outline: 0;
  transition: background 0.2s;
}
.button:hover {
  background: #18CAE6;
}
.button:after {
  content: '+';
  transition: transform 0.2s;
}
.is-opening .button {
  background: #18CAE6;
}
.is-opening .button:after {
  transform: rotate(-45deg);
}
.is-open .button {
  background: #18CAE6;
}
.content {
  opacity: 0;
  padding: 0 60px;
  transition: opacity 0.2s;
  color: #fff;
  will-change: opacity;
}
.is-open .content {
  opacity: 1;
}
